@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    transition: all 400ms ease-in-out;
}

#chat-container::-webkit-scrollbar {
    width: .3rem;
}

@media (prefers-color-scheme: light) {
    #chat-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgb(234, 234, 234);
    }
    
    #chat-container::-webkit-scrollbar-thumb {
        background-color: rgba(94, 94, 94, 0.286);
    }
}

@media (prefers-color-scheme: dark) {
    #chat-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(189, 189, 189, 0.268);
    }
    
    #chat-container::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.777);
    }
}